# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# extension
*.log
*.7z
*.rar
*.zip
*.bk
*.bak
*.gz
*.tar.gz
*.tar
*.key
*.pem
*.csr
*.cer
*.crt
*.cert
*.pub
*.p12
*.pfx
*.der
*.crl
*.p7b
*.p7c
*.p7r
*.p7s
*.pem
*.ovpn
*.env

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

/*/data
ghcr-login.bat

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# quyit-app-1
quyit-app-1/u01/nginx-proxy-manager/volumes/*
quyit-app-1/u01/openvpn-1194-tcp/data/*

# nqdev
nqdev/pageindex/data/*

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

